.Quiz_app{
    text-align: center;
}
.question_card{
    background-color: bisque;
    padding: 16px;
    width: 80%;
    height: auto;
    border-radius: 16px;
    color: rgb(11, 75, 7);
    margin-left: 100px;
}
ul{
    list-style: none;
}
li{
    background-color:aqua;
    padding: 16px;
    border: 2px solid rgb(31, 107, 16);
    border-radius: 16px;
    font-size: 20px;
    margin-top:7px;
    cursor: pointer;

}
.question_text{
    color:rgb(7, 74, 95) ;
    font-size: 20px;
}
.final_results{
    margin: 0 auto;
    background-color: bisque;
    padding: 25px;
    width: 40%;
    height: auto;
    border-radius: 10px;
    color: rgb(11, 75, 7);
    margin-top: 25px;
}
.final_results button{
    background-color: brown;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    color: aliceblue;
}